.filterout{
    display: flex;
    justify-content: center;
    margin: 2rem;
    gap: 4rem;
}
.cprog{
    width: 100vw; 
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
