*{
    /* font-family: 'Secular One', sans-serif; */
}
.signlogo{
    position: fixed;
    top:2rem;
    left:2rem;
    height:3.5rem;
}

.SignIn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: url("../../Assets/sign_bg.png");
    background-size: cover; 
    background-position: bottom center;
}
.signInbox{
    height: 80vh;
    width: 50vw;
    background: rgb(255, 255, 255);
    border-radius:1rem;
}
.signIn_logo img{
    height: 2.5rem;
}
.welcome{
    margin-top: 0.5rem;
    font-size:2vw;
}
.layer1,.layer2,.layer3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer1{
    gap:2rem;
    height:5rem;
}
.layer2{
    width:50vw;
}
.btn{
    width: 30vw;
    height: 2.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background-color:#D9D9D9;
}
.signbtnn{
    width: 30vw;
    height: 2.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
    background-color:#D9D9D9;
}
.selectsignbtn{
    color:white;
    background:#2B96CC;
    width: 30vw;
    height: 2.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    border: none;
}

.userlogo{
    position:relative;
    display: flex;
    justify-content:center;
    margin-bottom: -3.6rem;
    margin-top: 2rem;
}
.layer3{
    width: 50vw;
}