.Hosplist{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin-top: 5vh;
}
.inHosplist{
   width: 80vw;
   /* border: 2px solid black; */
   border-radius: 0.7rem;
   display: flex;
   /* background: #d2e4ed; */
}
.hosplistimg{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hosplistimg img{
    width:25vw;
    height: 30vh;
    border: 2px solid #2B96CC;
    border-radius: 0.7rem;
}
.hosplisttxt{
    width: 33vw;

}
.hosplisttitle{
    margin-top: 1rem;
    font-size: 2rem;
    /* font-family: 'Ramabhadra', sans-serif;  */
}
.line{
    display: flex;
    margin: 0.3rem;
    font-size: 1.5rem;
    /* font-weight: 600; */
    /* font-family: 'Secular One', sans-serif; */

}
.bluetxt{
    color: #2B96CC;
    margin-left: 1rem;
}
.moreinfo{
    font-size: 1.5rem;
    color:#2B96CC;
    height: 32vh;
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    justify-content: flex-end;
}
.moreinfo span{
    color: #2B96CC;
    cursor: pointer;
}
.hrline{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}